<%= nested_form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>事件標題：</p>
    <%= f.text_field :title %>
    <p>日期：</p>
    <%= f.text_field :date %>
  </div>
<hr/>
  <%= f.fields_for :tasks do |t| %>
    <h4>新待辦事項：</h4>
    <p>內容：<%= t.text_field :content %></p>
    <p>截止時間：<%= t.text_field :due %></p>
    <p><%= t.link_to_remove "移除此待辦事項" %></p>
    <hr/>
  <% end %>
    <p><%= f.link_to_add "新增待辦事項", :tasks %></p>

  <div class="actions">
    <%= f.submit "確認", class: "button tiny" %>
  </div>
<% end %>
