<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>事件：</p>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <p>內容：</p>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <p>活動日期：</p>
    <%= f.text_field :date %>
  </div>
  <div class="actions">
    <%= f.submit "產生事件", class: "button" %>
  </div>
<% end %>
